# NuGet Packages Directory
## TODO: If you have NuGet Package Restore enabled, uncomment the next line
#packages/
## TODO: If the tool you use requires repositories.config, also uncomment the next line
#!packages/repositories.config

# Unity
Library
Logs
Packages/com.*
*.csproj
*.sln
.idea
.vscode
Temp
Temp.meta
obj
.vs
!*.dll
